<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../static/js/tree-sitter.js"></script>
  <script src="../static/js/xjs.js"></script>
  <script defer src="../static/js/utils.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- <script src="js/jsonviewer.js"></script> -->
  <link rel="stylesheet" href="../static/css/style.css">
  <style>
    @keyframes blink {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    /* Apply the animation to the element you want to blink */
    .blinking-text {
      animation: blink 1s infinite;
    }

    .unselectable {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  </style>
</head>

<body class="w-screen h-screen">

  <div id="app" class="editor h-64 bg-red-500 p-2">
    <div class="maininput flex bg-white full font-mono">
      <div class="initialline bg-blue-200 h-full w-8 flex flex-col">
        <div v-for="(characters, row) in lines" class=" h-6 w-8 bg-blue-500 text-white center">
          {{row + 1}}
        </div>
      </div>

      <div class="maintext unselectable relative cursor-text bg-blue-200 grow flex flex-col h-full overflow-auto">
        <div class="cursor z-10 absolute pointer-events-none" :ref="el => cursor = el">
          <div class="line border-l-2 border-zinc-950 w-4 h-6 flex justify-center items-center blinking-text"></div>
          <div class="absolute top-full left-0 text-xs bg-red-500 rounded px-1 text-zinc-50">
            {{cursorinfo}}</div>
        </div>
        <div v-for="(characters, row) in lines">
          <div class="bg-blue-200 h-6 flex">
            <div v-for="(character, col) in characters">
              <div :ref="el => {
                lineRefs[row] = lineRefs[row] || [];
                lineRefs[row][col] = el;
              }" :key="col"
                class="character whitespace-pre-wrap w-3 h-6 flex justify-center items-center"
                :class="(row < selectionEnd[0] && row > selectionStart[0]) || (row==selectionStart[0] && col >= selectionStart[1]) || (row==selectionEnd[0] && col <= selectionEnd[1]) ? 'bg-zinc-500/25' : ''"
                @click="e=>select(e, row, col)" @mousedown="e=>startSelection(row,col)"
                @mouseup="e=>endSelection(row,col)" @mousemove="updateSelection(row, col)">{{character}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <textarea name="editortextstore" class="bg-gray-200 w-full" id="" cols="30" rows="10"></textarea>

  <script type="importmap">
              {
                "imports": {
                  "vue":          "https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.0-beta.15/vue.esm-browser.js",
                  "vue-router":   "https://cdnjs.cloudflare.com/ajax/libs/vue-router/4.0.0-alpha.12/vue-router.esm.js",
                  "vuex":         "https://cdnjs.cloudflare.com/ajax/libs/vuex/4.0.0-beta.2/vuex.esm-browser.js"
                }
              }
            </script>
  <script type="module">
    window.onerror = window.debug;
    import {
      createApp, ref,
      onMounted,
      nextTick, computed,

    } from 'vue';

    createApp({
      setup() {
        const message = ref('Hello vue!')
        const tempLines = `Hello from
        VUE3`.split('\n');
        const lines = ref(tempLines.map((line, index) => {
          if (index == tempLines.length - 1)
            return [...line.split(''), '\\0']
          return [...line.split(''), '\\n']
        }))
        const lineRefs = ref([])
        const selecting = ref(false)
        const selectionStart = ref([0, 0])
        const selectionEnd = ref([0, 0])
        const selection = ref('')
        const cursor = ref(null)
        const cursorinfo = computed(() => {
          return `${selectionStart.value[0]}:${selectionStart.value[1]}`
        })
        onMounted(() => {
          moveCursor(0, 0);
          window.addEventListener('keydown', (event) => {
            // Check if the pressed key is the Enter key (keyCode 13) or the newline key (keyCode 10)
            if (event.keyCode === 13 || event.keyCode === 10) {
              // Enter key: Add \n
              const [row, col] = selectionStart.value;
              lines.value.splice(row + 1, 0, lines.value[row].splice(col, lines.value[row].length - col));
              lines.value[row] = [...lines.value[row], '\\n']
              moveCursor(row + 1, 0);

            } else if (event.keyCode === 8) {
              // Backspace
              // Delete the character before the cursor
              const [row, col] = selectionStart.value;
              if (col > 0) {
                lines.value[row].splice(col - 1, 1);
                moveCursor(row, col - 1);
              } else {
                if (row == 0)
                  return

                let lastLine = lines.value[row - 1]
                lines.value[row - 1] = [...lastLine.slice(0, lastLine.length - 1), ...lines.value[row]]
                lines.value.splice(row, 1);
                moveCursor(row - 1, lastLine.length - 1);
              }
            } else if (event.keyCode === 37) {
              // Left arrow
              const [row, col] = selectionStart.value;
              if (col > 0) {
                moveCursor(row, col - 1);
              } else {
                if (row > 0) {
                  moveCursor(row - 1, lines.value[row - 1].length - 1);
                }
              }
            } else if (event.keyCode === 38) {
              // Up arrow
              let [row, col] = selectionStart.value;
              if (row > 0) {
                if (col > lines.value[row - 1].length - 1) {
                  col = lines.value[row - 1].length - 1;
                }
                moveCursor(row - 1, col);
              }
            } else if (event.keyCode === 39) {
              // Right arrow
              const [row, col] = selectionStart.value;
              if (col < lines.value[row].length - 1) {
                moveCursor(row, col + 1);
              } else {
                if (row < lines.value.length - 1) {
                  moveCursor(row + 1, 0);
                }
              }
            } else if (event.keyCode === 40) {
              // Down arrow
              let [row, col] = selectionStart.value;
              if (col > lines.value[row + 1].length - 1) {
                col = lines.value[row + 1].length - 1;
              }
              if (row < lines.value.length - 1) {
                moveCursor(row + 1, col);
              }
            } else if (event.keyCode === 46) {
              // Delete 
              // Delete the character after the cursor 
              const [row, col] = selectionStart.value;
              if (lines.value[row][col] == '\\0')
                return
              if (lines.value[row][col] == '\\n') {
                lines.value[row].splice(col, 1);
                lines.value[row] = [...lines.value[row], ...lines.value[row + 1]]
                lines.value.splice(row + 1, 1);
                moveCursor(row, col);
                return
              }
              if (col < lines.value[row].length) {
                lines.value[row].splice(col, 1);
                moveCursor(row, col);
              }
            } else if (event.keyCode === 9) {
              // Tab
              const [row, col] = selectionStart.value;
              lines.value[row].splice(col, 0, ' ', ' ', ' ', ' ');
              moveCursor(row, col + 4);
            } else if (event.keyCode === 16) {
              // Shift
            } else if (event.keyCode === 17) {
              // Ctrl
            } else if (event.keyCode === 18) {
              // Alt
            } else if (event.keyCode === 20) {
              // Caps Lock
            } else if (event.keyCode === 91) {
              // Windows key / Left Apple cmd key
            } else if (event.keyCode === 93) {
              // Windows menu / Right Apple cmd key
            } else if (event.keyCode === 27) {
              // Escape
            } else if (event.keyCode === 33) {
              // Page up
            } else if (event.keyCode === 34) {
              // Page down
            } else if (event.keyCode === 35) {
              // End
              let [row, col] = selectionStart.value;
              moveCursor(row, lines.value[row].length - 1);
            } else if (event.keyCode === 36) {
              // Home
              let [row, col] = selectionStart.value;
              moveCursor(row, 0);
            } else if (event.keyCode === 45) {
              // Insert
            } else if (execKeyBindings(event)) {

            }
            else {
              if (event.key != '') {
                lines.value[selectionStart.value[0]].splice(selectionStart.value[1], 0, event.key);
                moveCursor(selectionStart.value[0], selectionStart.value[1] + 1);
              }
            }
            event.preventDefault();
          });

        })

        function execKeyBindings() {
          return false;
        }
        function select(event, row, col) {
          let [x, y] = [event.clientX, event.clientY];
          let rect = getRect(event.target);
          if (x > rect.left + rect.width / 2) {
            col++;
          }
          moveCursor(row, col)
        }
        function hover(row, col) {
          if (row === -1) {
            selection.value = ''
            return
          }
          selection.value = lines.value[row][col]
        }
        function moveCursor(row, col) {
          selectionStart.value = [row, col]
          selectionEnd.value = [row, col]
          selection.value = lines.value[row][col]
          nextTick(() => {
            const rect = getRect(lineRefs.value[row][col], document.querySelector('.maintext'))
            cursor.value.style.left = rect.left + 'px'
            cursor.value.style.top = rect.top + 'px'
          })
        }
        function startSelection(row, col) {
          debug('mousedown', row,col );
          selecting.value = true
          selectionStart.value = [row, col]
        }
        function endSelection(row, col) {
          debug('mouseup')
          selecting.value = false
          selectionEnd.value = [row, col]
        }
        function updateSelection(row, col) {
          if (!selecting.value)
            return
          selectionEnd.value = [row, col]
        }
        return {
          message,
          lines,
          selectionStart,
          selectionEnd,
          selection,
          lineRefs,
          cursor,
          select,
          hover,
          moveCursor,
          cursorinfo,
          startSelection,
          endSelection,
          updateSelection
        }
      }
    }).mount('#app')
    function getRect(el, parent) {
      let boundingRect = el.getBoundingClientRect()
      let parentRect = parent ? parent.getBoundingClientRect() : {left: 0, top: 0}
      let paranetScrolls = parent ? {left: parent.scrollLeft, top: parent.scrollTop} : {left: 0, top: 0}
      return {
        left: boundingRect.left - parentRect.left + paranetScrolls.left,
        top: boundingRect.top - parentRect.top + paranetScrolls.top,
        width: boundingRect.width,
        height: boundingRect.height
      }
    }
    const Parser = window.TreeSitter;
    Parser.init().then(async () => {
      /* the library is ready */
      console.log(window.TreeSitter);
      const parser = new Parser();
      const JavaScript = await Parser.Language.load('../static/js/tree-sitter-javascript.wasm');
      parser.setLanguage(JavaScript);
      const sourceCode = 'let x = 1; console.log(x);';
      const tree = parser.parse(sourceCode);
      debug(tree.rootNode);
      debug(tree.rootNode);
      debug('tree.rootNode');
    });

  </script>
</body>

</html>